extends base.pug

block scripts
  script(src='/static/index.js')

block style 
    style
      include ../static/style.css
      include ../static/styleAbout.css
block content 
        h1 About us 
        h2 Vision Statement 
        div.para 
          li To offer career-oriented classes that provide opportunities beyond the classroom and a student's high school education.
        h2 Mission Statement
        div.para 
          li The Rock Academy for Communications and the Arts inspires and empowers a diverse body of learners to explore career pathways employing current industry trends taught by dedicated professionals. We develop creative and career skills needed for post-secondary success.
        h2 Beliefs
        div.para 
          li Every student should have the opportunity to pursue electives that give career-oriented education and skills that last a lifetime
          li Rock Academy for Communications & the Arts offers outstanding opportunities for FCPS high school students with career interests in fine & performing arts, design, and communications. Advanced career elective courses, in eleven academic areas, incorporate the latest industry technology and instructional techniques. Four additional classes, in the language fields of American Sign Language, Arabic, Chinese and Korean, provide accelerated language instruction
          li Students attending Rock Academy explore college and career options in arts and communications fields, develop marketable career skills for entry level work, and build an academic foundation that prepares them for success in college
          li Rock Academy, housed within Fairfax High School, is one of six career and technical education centers in FCPS offering elective courses with a career emphasis. It is located in Fairfax, VA, about 15 miles from Washington, DC, in an area enriched by a variety of cultural and arts related activities and opportunities. For more information or to arrange a visit, please contact the Academy office at 703-219-2226 