extends base.pug

block scripts
  script(src='/static/index.js')

block style 
    style
      include ../static/style.css
      include ../static/styleClass.css
block content 
     h1 FEES FOR ROCK CLASSES (INCLUSIVE OF GST):
        h4 WEEKDAY BATCHES (MON, WED & FRI (3 CLASSES PER WEEK SO 12 CONTINUOUS CLASSES IN A MONTH)):
        p Monthly – Rs.3500
        p Quarterly – Rs.9300 instead of Rs.10500 (saving of Rs.1200)
        h4 WEEKEND BATCHES (SAT & SUN (2 CLASSES PER WEEK SO 8 CONTINUOUS CLASSES IN A MONTH)):
        p Monthly – Rs.3000
        p Quarterly – Rs.7800 instead of Rs.9000 (saving of Rs.1200)
        h4 TRIAL CLASSES
        p 1 trial class of 1-hour duration: Rs.300 per person (paid before the class begins); 
          br 
          |FREE if the student joins (Please pre-book).
          br 
          |Please note: The trial class is FREE only if the student decides to join. If the   student joins, the Rs 300 paid will be adjusted with the first month fee, and the billing cycle will start from the next class, making the first trial class 100% free. If the student decides not to join Delhi Dance Academy, then the Rs 300 will not be refunded. 
        h4 DROP-IN CLASSES:
        p 1-hour drop-in class during an existing batch: Rs.500 per person (Please pre-book).
        h4 DISCOUNTS:
        p Group discounts:
          br 
          |If 2 people join together for a month, avail a discount of flat Rs 500 off on a total of 2 people joining together!:)
          br 
          |If a group of 3-5 people joins together for a month, avail a discount of flat Rs 1000/- off on the total package of 3-5 people joining together!!:)
          br 
          |If a group of 6-8 people joins together for a month, avail a discount of flat Rs 2000/- off on the total package of 6-8 people joining together! 
          br 
          |GETTING YOUR FRIENDS IS, THEREFORE, A GOOD IDEA!
        h4 PRIVATE CLASSES
        p Private Classes at the studio: Hourly – Rs.2500/-
          br 
          |Private Classes at Home Location:
          br 
          |Dance/Fitness Lessons 1-hour tuition for small groups(1-3 pax) where our instructor travels to your home: Rs.3500 per hour for locations within 5km and Rs 4000 per hour for all areas in Delhi beyond a 5km radius (phone booking required).
          br 
          |For areas beyond Delhi/NCR, our charges are Rs 18,000 per day per choreographer + food + accommodation.
